
.login-left-right {
  color: #e74c3c;
  font-size: 28px;
  font-weight: bold;
  font-family: 华文行楷;
}

.alert-info {
  
}

.event-tabs {
  margin-bottom: 15px;
  font-size: 13px;
}

.event-tabs .active {
  font-size: 15px;
  font-weight: bold;
}

#eventIndexImgCrop {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#shareImageCrop {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.layui-layer-btn .layui-layer-btn0 {
    background-color: #3B3534;
    border-color: #2F2A29;
    color: #fff;
}
